<app-navbar></app-navbar>

<ion-content fullscreen class="gradient-bg">
  <div class="main-layout-wrapper">

    <div class="header-container">
      <header class="profile-header">
        
        <div class="cover-banner">
          <img src="{{ perfil.background || '../../../assets/header_perfil.png' }}" alt="Banner do perfil" />
        </div>

        <div class="profile-info-container">
          <div class="avatar-box">
            <img src="{{ perfil.pfp || '../../../assets/avatar-placeholder.png' }}" alt="{{ perfil.nome }}" class="profile-avatar" />
          </div>
          
          <div class="profile-details">
            <div class="user-meta">
              <h2 class="user-name">{{ perfil.nome }}</h2>
              <p class="user-username">@{{ perfil.usuario}}</p>
              <p class="user-role">{{ userRole }} - IFSP Pirituba</p>
            </div>

            <div class="profile-stats">
              <div class="stats-item">
                <strong class="num-posts">{{ perfil.num_publicacoes }}</strong> 
                <span>posts</span>
              </div>
              <div class="stats-item">
                <strong class="num-seguidores">{{ perfil.num_seguidores }}</strong>
                <span>seguidores</span>
              </div>
              <div class="stats-item">
                <strong class="num-seguindo">{{ perfil.num_seguindo }}</strong> 
                <span>seguindo</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="profile-bio-row">
          <p class="user-bio">
            {{ perfil.biografia }}
          </p>
          <button class="btn-edit-profile" (click)="editProfile()">editar perfil</button>
        </div>

        <app-edit-profile-modal
          [show]="showEditModal"
          [perfil]="perfil"
          (close)="showEditModal = false"
          (requestSave)="salvarFromModal($event)">
        </app-edit-profile-modal>

      </header>
    </div>

    <div class="feed-container" >
      
      <div class="post-card" *ngFor="let post of posts">
        <div class="post-header">
          <div class="post-avatar-placeholder">
            <img [src]="perfil?.pfp || post.autorFoto" [alt]="perfil?.nome || post.autor" />
          </div>
          <div class="post-meta">
            <span class="post-author">{{ perfil?.nome || post.autor }}</span>
            <span class="post-role">{{ userRole }}</span>
          </div>
          <span class="post-time">{{ post.tempo }}</span>
          <button class="btn-options">&#8226;&#8226;&#8226;</button>
        </div>

        <div class="post-body">
          <p class="post-text">
            {{ post.conteudo }}
          </p>
        </div>

        <div class="post-actions">
          <span class="action-dot"></span>
          <span class="action-dot"></span>
          <span class="action-dot"></span>
        </div>
      </div>

    </div>

  </div>
</ion-content>